.app-container.welcome-page{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .welcome-message{
    background: #fff;
    padding: 20px;
    h1{
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
    h3{
      font-size: 1.3rem;
      font-weight: 100;
      margin-bottom: 1rem;
      text-transform: capitalize;
      text-align: center;
    }
  }

  .home-container{
    background: #fff;
    height: 100%;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;


      .button{
        width: 250px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
          background: black;
          color: white;
        }
      }

      hr{
        height: 2px;
        width: 100%;
      }
      .google-btn{
        background: #dd4b39;
        color: #fff;
      }
      .facebook-btn{
        background: #3b5998;
        color: #fff;
      }
      .google-btn{
        background: red;
        color: #fff;
      }
      .email-btn{
        color: $htext;
        text-decoration: none;
        margin-top: 10px;
        border: 1px solid black;
      }
    }
  }
}
