<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="app-container
    @!section('current-class')

    " style="
    @!section('custom-style-app-container')
  ">

  @!section('content')

  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>

</html>
